@charset "UTF-8";
#overlay {
    visibility: hidden;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	background-color: #222222;
	}

#dialogBox {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    z-index: 1000;
}

div#dbox_table {
	display: table;
	width: 40%;
	background-color: #c0c0c0;
	border: 1px solid #000000;
	border-spacing: 3px;
	margin-top: 20%;
	margin-left: auto; 
    margin-right: auto; 
}

div#dbox_row {
	display: table-row;
}

fieldset#dbox_frame {
	display: table-cell;
	margin: 3px;
}

legend#dbox_title {
	font-weight: bold;
}

p#dbox_text {
	text-align: justify;
}

div#dbox_button_cell {
	text-align: center;
}

input#dbox_button {
	width: 100px;
}
